extends layout

block content

  h1 Register
  form(action="/api/user/register" method="POST" id="registrationForm")
    label(for="email") Email 
    input(type="email" name="email" id="email" required)
    label(for="password") Password 
    input(type="password" name="password" id="password" required)
    button(class="btn" type="submit") Register
  p(id="registrationError")
  script(src='/javascripts/register.js') 